
*{
    margin: 0;
    padding: 0;
}

body {
    
    font-family: sans-serif;
}

.navbar {
    background-color: white;
    font-size: large;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.nav-highlight {
    border-bottom: 5px solid #272640;
}

footer {
    background-color: #212529;
    color: white;
    height: 10vh;
    font-family: sans-serif;
    display: flex;

    
}
/* footer .info{
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    margin-top: 60px;
} */

.info2 {
    font-family: 'Courier New', Courier, monospace;
}
footer img {
    border-radius: 50%;
}
/* .icons-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
} */



#home {
    min-height: 100vh;
    background-image: url("/assets/car.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sub-section {
    min-height: 200vh;
    background-color: white;

    color: black;
}
.sub-section2 {
    background-color: white;
    margin-bottom: 100px;
}
.title {
    font-family: cursive;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    color: white;
}

.content h1 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 700;
}

.section-2 {
    margin-top: 100px;

}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.img-nature {
    width: 50%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 900px) {
    .img-nature {
        width: 40%;
        border-radius: 15px;
    }
}
@media (max-width: 738px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
}


.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-margin {
    margin-top: 70px;
    
}
.creds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 20px;
}
.credss {
    border-right: 1px solid #adb5bd;
}
.login-card {
    height: 700px;
   
}
.input {
    width: 80%;
}
.submit-button {
    width: 30%;
}
.hr-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
}
.hr1 {
    width: 100%;
    
}
.hr2 {
    width: 100%;
   
}
.create {
    text-decoration: underline;
    font-weight: bold;
}
.title-register {
    text-align: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    gap: 20px;
}

.min-height {
    min-height: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;
}
.margin-top {

    margin-top:100px;
    min-height: 80vh;
}

.anchor {
    text-decoration: none;
}
h1,h2,h3 {
    word-break: break-all; /* Breaks words at any character, even within words */
}

.van-show {
 position: relative;
}

.van-show::after{
    content: 'For Rent';
    letter-spacing: 3px;
    position: absolute;
    top: -10px;
    left: -40px;
    background-color: red;
    color: white;
    padding: 5px 15px;
}
.parent {
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border: 10px solid gray;
}

.form-show {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.child {
    width: 100%;
   
}

.img-show {
    height:500px; 
    width: 500px;
    box-shadow: 10px 10px 10px gray;
    
}

.van-info {

    height: 500px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}


.no-available {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;

}

@media (max-width:411){
    .img-fluid {
       padding: 100px;
        height: auto;
    }
}

@media (max-width: 767px) {
  
    .credss {
        border: 0;
    }
}